In [1]:
import pandas as pd
from libs.readDb import readTable
from libs.inserts import *
import datetime
import random

In [2]:
def toEng(word):
    tr2eng = str.maketrans("ÇĞİÖŞÜçğıöşü", "CGIOSUcgiosu")
    engVersion = str(word).translate(tr2eng)
    engVersion = engVersion.upper()
    engVersion = engVersion.replace("'", "")
    return engVersion

In [3]:
cities = pd.read_excel('tables.xlsx', 'city')
cities['cityName'] = [toEng(i) for i in cities['cityName']]
cities.drop_duplicates(inplace=True)

towns = pd.read_excel('tables.xlsx', 'town')
towns['townName'] = [toEng(i) for i in towns['townName']]
towns.drop_duplicates(inplace=True)

types = pd.read_excel('tables.xlsx', 'type')
types['type'] = [toEng(i) for i in types['type']]
types.drop_duplicates(inplace=True)

publishers = pd.read_excel('tables.xlsx', 'publisher')
publishers['publisherName'] = [toEng(i) for i in publishers['publisherName']]
publishers.drop_duplicates(inplace=True)

branches = pd.read_excel('tables.xlsx', 'branch')
branches['branches'] = [toEng(i) for i in branches['branches']]
branches.drop_duplicates(inplace=True)

customers = pd.read_excel('tables.xlsx', 'customer')
customers['customerName'] = [toEng(i) for i in customers['customerName']]
customers['customerSurname'] = [toEng(i) for i in customers['customerSurname']]
customers.drop_duplicates(inplace=True)

books = pd.read_csv('books.csv')
books['Kitap İsmi'] = [toEng(i) for i in books['Kitap İsmi']]
books['Yazar'] = [toEng(i) for i in books['Yazar']]
books.drop_duplicates(inplace=True)

In [4]:
BOOKS = books['Kitap İsmi'].drop_duplicates(inplace=True)
AUTHORS = books['Yazar'].drop_duplicates(inplace=True)

In [5]:
BOOKS=books['Kitap İsmi'].unique()
AUTHORS=books['Yazar'].unique()

## Cities

In [6]:
for id_, name_ in zip(cities['cityID'], cities['cityName']):
    addCity(id_, name_)
print('successfull')

successfull

## Towns

In [7]:
for id_, town_ in zip(towns['cityID'], towns['townName']):
    addTown(id_, town_)
print('successfull')

successfull

## Branches

In [6]:
branches['cityID'] = [random.choice(cities['cityID']) for i in range(81)]

In [7]:
branches.head()

               branches  cityID
0                   ZHU      58
1                UYKULU      46
2  MUKEMMEL BIR KITAPCI      20
3          KITAP BILIMI      53
4             KITAPEVIM      40

In [8]:

for town_, branchName_ in zip(branches['cityID'], branches['branches']):
    addBranch(town_, branchName_)
print('successfull')

successfull

for town_, branchName_ in zip(branches_['townID'], branches_['branchName']):
    addBranch(town_, branchName_)
print('successfull')

## PUBLISHERS

In [13]:
publishers.head()

   publisherID         publisherName
0            1  IS BANKASI YAYINLARI
1            2         CAN YAYINLARI
2            3        BILAL KITAPEVI
3            4               PEARSON
4            5                  ALFA

In [14]:
for publisher_ in publishers['publisherName']:
    addPublisher(publisher_)
print('successfull')

successfull

## Types

In [15]:
for type_ in types['type']:
    addType(type_)
print('successfull')

successfull

## Authors

In [16]:
AUTHORS

array(['KHALED HOSSEINI', 'AKILAH - AZRA KOHEN', 'HASAN ALI TOPTAS', ...,
       'ZEYNEP USTUN', 'ZEYNEP TUGCE KARADAG', 'HELENA BIGGS'],
      dtype=object)

In [ ]:
for name_ in AUTHORS:
    addAuthor(name_, genDate())
    pass
print('successfull')

## BOOKS

In [18]:
AUTHORS = readTable('authorTBL')
BOOKS = pd.merge(left=books, right=pd.DataFrame({'Kitap İsmi':BOOKS}))
TYPES = readTable('typeTBL')
types_=[random.choice(list(TYPES['typeID'])) for i in range(len(BOOKS))]
PUBLISHER = readTable('publisherTBL')

In [19]:

publisher_=[random.choice(list(PUBLISHER['publisherID'])) for i in range(len(BOOKS))]

In [20]:
BOOKS['publisherID'] = publisher_
BOOKS['typeID'] = types_

In [21]:
BOOKS = pd.merge(left=BOOKS, right=AUTHORS, left_on='Yazar', right_on='authorName')

In [22]:
BOOKS_ = pd.DataFrame({
    'bookName':BOOKS['Kitap İsmi'],
    'authorID':BOOKS['authorID'],
    'typeID': BOOKS['typeID'],
    'publisherID': BOOKS['publisherID']
})

In [23]:
BOOKS.head()

,Kitap İsmi,Yazar,publisherID,typeID,authorID,authorName,authorBirthDate
0,UCURTMA AVCISI,KHALED HOSSEINI,5,10,1,KHALED HOSSEINI,1969-12-11
1,VE DAGLAR YANKILANDI MIDI BOY,KHALED HOSSEINI,3,32,1,KHALED HOSSEINI,1969-12-11
2,VE DAGLAR YANKILANDI,KHALED HOSSEINI,11,2,1,KHALED HOSSEINI,1969-12-11
3,UCURTMA AVCISI MIDI BOY,KHALED HOSSEINI,5,8,1,KHALED HOSSEINI,1969-12-11
4,BIN MUHTESEM GUNES,KHALED HOSSEINI,9,9,1,KHALED HOSSEINI,1969-12-11

In [26]:
for i,j,k,l in zip(BOOKS['Kitap İsmi'], BOOKS['authorID'], BOOKS['typeID'], BOOKS['publisherID']):
    addBook(i[:49],j,k,l)
print('successfull')

successfull

# ---------

In [27]:
TOWNS = readTable('townTBL')

In [28]:
import numpy as np
import random

In [29]:
randomNo=[str(random.randint(1000000,9999999)) for i in range(len(customers))]
opNo=[str(i) for i in np.arange(532,548)]
opNo_=[random.choice(opNo) for i in range(len(customers))]
phoeNos=[i+j for i,j in zip(opNo_, randomNo)]

In [30]:
townIDS_=[random.choice(TOWNS['townID']) for i in range(len(customers))]

In [32]:
for i,j,k,l in zip(customers['customerName'], customers['customerSurname'], phoeNos, townIDS_):
    addCustomer(i,j,k,l)
print('successfull')

successfull

In [33]:
CUSTOMERS = readTable('customerTBL')
BOOKS = readTable('bookTBL')
BRANCH = readTable('branchTBL')

In [34]:
customerID=[random.choice(CUSTOMERS['customerID']) for i in range(1500)]
bookID=[random.choice(BOOKS['bookID']) for i in range(1500)]
branchID=[random.choice(BRANCH['branchID']) for i in range(1500)]
count=[random.choice([1,2,3,4,5,6,7,8,9,10]) for i in range(1500)]
price=[random.choice([12.3,2.34,3.5,4.3,54,635,7.4,85.4,94.4,10.55]) for i in range(1500)]

In [38]:
pd.DataFrame({
    "a":customerID,
    "b":bookID,
    "c":branchID,
    "d":count,
    "e":price
}).duplicated().sum()

0

In [39]:
for i,j,k,l,m in zip(customerID, bookID, branchID, count, price):
    addTransaction(i,j,k,l,m)
print('successfull')

successfull